.results-ctg-enter {
  transition: all 0.5s;
  opacity:0;
  height:0;
  max-height:0;
  // transform: translateX(-120%);
  // max-height: 0;
  // padding: 0 !important;
  &.results-ctg-enter-active {
    opacity:1;
    height:auto;
    max-height:1060px;
    // padding: 2rem 0 !important;
    // transform: translateX(0);
  }
}

.results-ctg-leave {
  // max-height:1060px;
  // height:auto;
  opacity:1;
  transition: all 0.5s;
  // transform: translateX(0);
  &.results-ctg-leave-active {
    // max-height:0;
    // height:0;
    opacity:0;
    // transform: translateX(120%);
    // max-height:0;
    // padding:0;
  }
}

.geo-selector-ctg-enter {
  transition: all 0.5s;
  height:0;
  opacity:0;
  max-height:0;
  &.geo-selector-ctg-enter-active {
    transition: all 0.5s;
    height:auto;
    max-height:200px;
    opacity:1;
  }
}

.geo-selector-ctg-leave {
  transition: all 0.5s;
  height:auto;
  max-height:200px;
  opacity:1;
  &.geo-selector-ctg-leave-active {
    transition: all 0.5s;
    height:0;
    max-height:0;
    opacity:0;
  }
}

.geo-selector-ctg-appear {
  transition: all 0.5s;
  opacity:0;

  &.geo-selector-ctg-appear-active {
    transition: all 0.5s;
    opacity:1;
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
