$FontPathOpenSans: "./assets/fonts";
$search-blue: #1c688e;
$lighter-search-blue: #3793c1;
$border-grey: #e6e6e6;
$grey-text: #a9a9a9;

@import './open-sans.scss';
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

@import './animations';


html {
  box-sizing: border-box;
  height:100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight:300;
  background-image: url('./resources/graphics/background.png');
}

.panel {
  margin: 50px auto 50px;
  text-align: center;
  font-size: 2em;
  background:white;
  padding: 0px;
  width: 80vw;
  height: auto;

  p {
    margin: 5px;
  }
}


.search {
  width:100%;
  background:$search-blue;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;

  .mobile-menu {
    display:none;
    height:35px;
    width:50px;
    border:2px solid $border-grey;
    cursor:pointer;
    border-radius:5px;
    margin-right:10px;
    align-items:center;
    justify-content:center;

    &:hover {
      background:$lighter-search-blue;
    }

    .filter-button {
      color:white;
      font-size:18px;
    }
  }

  input {
    display:inline-block;
    width:90%;
    height: 45px;
    border-radius:3px;
    border-style:hidden;
    font-size:16px;
    padding:0 10px;
  }

  .search-clear {
    position:absolute;
    color:black;
    right:7%;
    cursor:pointer;
    background:white;
    font-size:18px;
    top:0;
    bottom:0;
    height:20px;
    margin-top:auto;
    margin-bottom:auto;
    display: flex;
    align-items:center;
  }
  .invisible {
    display:none;
  }
}

.geo-selector {
  width:100%;
  height:auto;
  background:#bbbbbb;
  text-align: left;
  padding:5px 15px;

  .geo-header {
    display:inline-block;
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    vertical-align: middle;
    width:20%;
    text-align: center;
  }

  .geo-list {
    margin:0;
    padding:10px;
    display: inline-block;
    width:80%;
    vertical-align: middle;

    .geo-location {
      list-style-type:none;
      display:inline-block;
      margin:0 10px;
      background:$search-blue;
      color:white;
      padding:2px 15px;
      border-radius:15px;
      font-size:20px;
      vertical-align: middle;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      &:hover {
        background:$lighter-search-blue;
        cursor:pointer;
      }
      &:active {
        transform:translate(2px, 2px);
        box-shadow:none;
      }
    }
  }
}

.lower-area {
  display:flex;
  min-height:60vh;

  .filters {
    width:25%;
    height:auto;
    display:inline-block;
    border-right:1px solid $border-grey;
    padding:15px;
    flex-direction:column;
    font-size:14px;
    text-align:left;
    position: relative;
    z-index:10;
    overflow:overlay;

    .mobile-header{
      display:none;
    }

    h4 {
      font-size:16px;
      font-weight:normal;
      margin: 10px;
      padding:0;
    }

    ul {
      list-style-type: none;
      margin:0 5px;
      padding:0;
    }

    .cuisine {
      min-height:195px;
      display:flex;
      flex-direction:column;
      align-items:center;

      li {
          display:flex;
          justify-content:space-between;
          padding:3px 5px;
          border-radius:5px;
          width:90%;
          font-weight:300;

        .food-type,
        .food-type-amount {
          display:inline-flex;
          padding:0 5px;
        }
        .food-type-amount {
          color:$grey-text;
        }

         &:hover,
         &.active {
        background:#2897c5;
        color:white;
        cursor:pointer;

        .food-type-amount{
          color:white;
        }
      }

      .placeholder-food {
        width:70%;
        height:19px;
        background:$border-grey;
      }

      .placeholder-number {
        width:20%;
        height:19px;
        background:$border-grey;
      }
    }
  }

    .ratings {
        display:flex;
        flex-direction:column;


        li {
          margin:1px 15px;
          cursor:pointer;
          border-radius:5px;
          &:hover {
            background-color:$lighter-search-blue;
          }
          &.active {
            background-color:$search-blue;
          }
      }
    }

    .payment-options {
      li {
        margin:5px 10px;
      }
      input {
        margin-right:5px;
      }

      .card {
        width:32px;
        height:20px;
        display:inline-block;
        background:url('./resources/graphics/cc-icons.png');
        background-size:122px;
        vertical-align:middle;
        margin-left:5px;
      }

      .cc-ae{
        background-position:0 20px;
      }
      .cc-visa{
        background-position:32px 0;
      }
      .cc-discover{
        background-position:32px 20px;
      }
      .cc-mc{
        background-position:77px 0;
      }
    }

    .price-ranges {

      .price {
        margin: 5px 10px;
      }

      input {
        margin-right:5px;
      }
    }
  }

.results {
    width:75%;
    height:100%;
    display:inline-block;
    padding:20px 30px;
    flex-direction:column;
    align-items:center;
    position:relative;

    a {
      text-decoration:none;
    }

    h4 {
      margin:0;
    }

    .search-stats {
      border-bottom:1px solid $border-grey;
      text-align: left;
      font-size:16px;
      margin:10px 30px;

        .search-stats-text {
          background:white;
          border-bottom:1px solid white;
          margin-right:10px;
          padding-right:30px;

          .results-count {
            font-weight:bold;
          }

          .results-speed {
            font-size:12px;
          }
        }
    }

    .results-ctg {
      overflow:overlay;
      max-height:500px;
    }

    .result-link {
      display:block;
      max-width:525px;

      .result {
        margin:5px 20px;
        display:flex;
        width:100%;
        max-width:525px;
        min-height:135px;
        border-radius:10px;
        padding:10px;
        align-items:center;

        &:hover {
          background-color:$lighter-search-blue;
          transition: all 0.25s;

          .result-text{
            color:white;
            h4 {
              color:white;
            }
          }
        }

        em {
          background: rgba(255, 200, 0, 0.6);
          font-style:normal;
        }

        .result-image {
          display:flex;
          border-radius:5px;
          width:85px;
          border:1px solid #a9a9a9;
        }

        .result-text {
          font-size:16px;
          color:#a9a9a9;
          display:flex;
          flex-direction:column;
          align-items:baseline;
          margin-left:20px;
          justify-content: space-between;
          font-weight:300;
          text-align: left;

          h4 {
            font-size:16px;
            color:black;
            font-weight:600;
          }

          img {
            background-size:100px;
            width: 100px;
            height: 19px;
          }
          span {

          }
          .stars {
            display:inline-block;
            vertical-align: top;
          }

          .result-rating {
            background:url('./resources/graphics/all-stars-even-spacing-transparent.png');
            background-size:100px;
            width: 100px;
            height: 18px;
            vertical-align:middle;
            display:inline-block;
            margin:0 5px;
          }

          .rating-number {
            color:#ffab66;
            display:inline-block;
          }

          .review-count {
            display:inline-block;
          }
          .result-city {
            display:none;
          }
          .result-price {
            display:none;
          }
          .result-payment-options {
            display:inline-block;

            .card {
              width:32px;
              height:20px;
              display:inline-block;
              background:url('./resources/graphics/cc-icons.png');
              background-size:122px;
              vertical-align:middle;
              margin-left:5px;
            }

            .cc-ae{
              background-position:0 20px;
            }
            .cc-visa{
              background-position:32px 0;
            }
            .cc-discover{
              background-position:32px 20px;
            }
            .cc-mc{
              background-position:77px 0;
            }

        }
      }
    }
  }

    .show-more {
      width:180px;
      background:none;
      padding:10px;
      border-radius:5px;
      border-style:solid;
      font-size:16px;
      border:1px solid #a9a9a9;
      color:#a9a9a9;
      margin-top:20px;
    }

    .show-more:hover {
      background:#a9a9a9;
      color:white;
    }

    .navigate-results {
      left:0;
      right:0;
      bottom:20px;
      font-size:16px;
      margin-top:10px;

      .navigate-results-top {
        border-top:1px solid $border-grey;
        margin-left:30px;
        margin-right:25px;
        display: flex;
        justify-content: space-between;

        .results-range {
          display: inline-block;
          font-size:12px;
          font-style:italic;
          padding-top:5px;
          text-align: left;
        }

        .results-per-page {
          font-size:12px;
          display: inline-block;
          justify-content:flex-end;
          padding-top: 5px;

          select {
            margin-left:5px;
          }
        }

      }

      .pagination {
        display: flex;
        justify-content:center;
        align-items:center;
        margin:10px;

        .page-button {
          display: flex;
          align-items:center;
          justify-content:center;
          margin: 0 10px;
          background: $search-blue;
          border: 2px solid $border-grey;
          border-radius: 10px;
          color:white;
          width:75px;
          height:30px;

          &:hover {
            background: $lighter-search-blue;
          }

          &:active {
            transform:translate(1px,1px);
          }

          &:focus {
            outline:none;
          }

          &:disabled {
            background:$border-grey;
          }
       }

        .prev-page, .next-page {
          @extend .page-button;
          }
        }

      }
  }
}
    .stars {
          background: url('./resources/graphics/all-stars-even-spacing-transparent.png');
          background-size:100px;
          width: 110px;
          height: 20px;
          background-position-x:5px;
          background-repeat: no-repeat;
          vertical-align:middle;
          display:inline-block;
          margin:0 5px;
        }

      .no-star {
        background-position-y: 1px
      }
      .half-star {
        background-position-y:-19px;
      }
      .one-star {
        background-position-y:-38px;
      }
      .one-half-star {
        background-position-y:-57px;
      }
      .two-star {
        background-position-y:-77px;
      }
      .two-half-star {
        background-position-y:-97px;
      }
      .three-star {
        background-position-y:-116px;
      }
      .three-half-star {
        background-position-y:-136px;
      }
      .four-star {
        background-position-y:-155px;
      }
      .four-half-star {
        background-position-y:-175px;
      }
      .five-star {
        background-position-y:-194px;
      }

@import './responsive';
