$search-blue: #1c688e;
$lighter-search-blue: #3793c1;
$border-grey: #e6e6e6;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-image: url('./resources/graphics/background.png');
}

.panel {
  margin: 50px auto 0;
  text-align: center;
  font-size: 2em;
  background:white;
  padding: 0px;
  width: 80vw;
  height: auto;

  p {
    margin: 5px;
  }
}


.search {
  width:100%;
  background:$search-blue;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;

  input {
    width:90%;
    height: 45px;
    border-radius:3px;
    border-style:hidden;
    font-size:16px;
    padding:0 10px;
  }
}

.geo-selector {
  width:100%;
  height:auto;
  background:#bbbbbb;
  text-align: left;
  padding:5px 15px;

  .geo-header {
    display:inline-block;
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    vertical-align: middle;
    width:20%;
    text-align: center;

  }

  .geo-list {
    margin:0;
    padding:10px;
    display: inline-block;
    width:80%;
    vertical-align: middle;


    .geo-location {
      list-style-type:none;
      display:inline-block;
      margin:0 10px;
      background:$search-blue;
      color:white;
      padding:2px 15px;
      border-radius:15px;
      font-size:20px;
      vertical-align: middle;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      &:hover {
        background:$lighter-search-blue;
        cursor:pointer;
      }
      &:active {
        transform:translate(2px, 2px);
        box-shadow:none;
      }

    }
  }
}

.lower-area {
  display:flex;
  height:auto;

  .filters {
    width:25%;
    height:auto;
    display:inline-block;
    border-right:1px solid $border-grey;
    padding:10px;
    flex-direction:column;
    font-size:14px;
    text-align:left;

    h4 {
      font-size:14px;
      margin: 10px;
      padding:0;
    }

    ul {
      list-style-type: none;
      margin:0 5px;
      padding:0;
    }

    .cuisine {

      display:flex;
      flex-direction:column;
      align-items:center;

      li {

          display:flex;
          justify-content:space-between;
          padding:5px;
          border-radius:5px;
          width:90%;

        .food-type,
        .foot-type-amount {
          display:inline-flex;
        }
        .foot-type-amount {
          color:$border-grey;
        }

      }

      li:hover,
      .active {
        background:#2897c5;
        color:white;
        cursor:pointer;
      }

    }


    .ratings {
        display:flex;
        flex-direction:column;


        li {
          margin:2px 15px;
          cursor:pointer;
          &:hover {
            border:2px solid orange;
          }
          &.active {
            border-left:10px solid orange;
          }

        }




    }

    .payment-options {
      li {
        margin:5px 10px;
      }
      input {
        margin-right:5px;
      }

      .card {
        width:32px;
        height:20px;
        display:inline-block;
        background:url('./resources/graphics/cc-icons.png');
        background-size:122px;
        vertical-align:middle;
        margin-left:5px;
      }

      .cc-ae{
        background-position:0 20px;
      }
      .cc-visa{
        background-position:32px 0;
      }
      .cc-discover{
        background-position:32px 20px;
      }
      .cc-mc{
        background-position:77px 0;
      }
    }

  }

.results {
    width:75%;
    height:100%;
    display:inline-block;
    padding:20px 30px;
    flex-direction:column;
    align-items:center;

    a {
      text-decoration:none;
    }

    h4 {
      margin:0;
    }

    .result {
      margin:20px;
      display:flex;
      width:100%;
      height:105px;
      border-radius:10px;
      padding:10px;

      &:hover {
        background-color:#ececec;

        .result-text{
          color:$search-blue;
        }
      }

      em {
        background: rgba(255, 0, 0, 0.3);
        font-style:normal;
      }

      .result-image {
        display:flex;
        border-radius:5px;
        width:85px;
        border:1px solid #a9a9a9;
      }

      .result-text {
        font-size:16px;
        color:#a9a9a9;
        display:flex;
        flex-direction:column;
        align-items:baseline;
        margin-left:20px;
        justify-content: space-between;

        h4 {
          font-size:16px;
          color:black;
        }

        img {
          background-size:100px;
          width: 100px;
          height: 19px;
        }
        span {
          display:block;
        }
        .stars {
          display:inline-block;
        }

        .result-rating {
          background:url('./resources/graphics/all-stars.png');
          background-size:100px;
          width: 100px;
          height: 18px;
          vertical-align:middle;
          display:inline-block;
          margin:0 5px;
        }

        .rating-number {
          color:#ffab66;
          display:inline-block;
        }
      }

    }

    .show-more {
      width:180px;
      background:none;
      padding:10px;
      border-radius:5px;
      border-style:solid;
      font-size:16px;
      border:1px solid #a9a9a9;
      color:#a9a9a9;
      margin-top:20px;
    }

    .show-more:hover {
      background:#a9a9a9;
      color:white;
    }
  }
}
    .stars {
          background: url('./resources/graphics/all-stars.png');
          background-size:100px;
          width: 100px;
          height: 19px;
          vertical-align:middle;
          display:inline-block;
          margin:0 5px;
        }

      .no-star {

      }
      .half-star {
        background-position-y:-19px;
      }
      .one-star {
        background-position-y:-38px;
      }
      .one-half-star {
        background-position-y:-57px;
      }
      .two-star {
        background-position-y:-76px;
      }
      .two-half-star {
        background-position-y:-95px;
      }
      .three-star {
        background-position-y:-114px;
      }
      .three-half-star {
        background-position-y:-133px;
      }
      .four-star {
        background-position-y:-152px;
      }
      .four-half-star {
        background-position-y:-171px;
      }
      .five-star {
        background-position-y:19px;
      }

