// Responsive / Mobile Styling
@media only screen and (max-width:850px){
  .panel {

    .lower-area {

      .filters {

        h4 {
          font-size:14px;
        }

        .cuisine {

          li {
            font-size:12px;
          }
        }

        .payments-filter {

          .payment-options {

            .payment-type {

              .amex-card-name,
              .discover-card-name,
              .mastercard-card-name,
              .visa-card-name {
                display:none;
              }
            }
          }
        }
      }

      .results {

        .result-link {

          .result {

            .result-text {
              font-size:14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:768px){
  body {
    background:white;
  }
  .panel {
    margin:0;
    width:100vw;

    .search {
      position: fixed;
      top: 0;
      z-index: 10;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      .search-clear {
        background:none;
        right:10%;
      }

    }

     .geo-selector {
        display: flex;
        flex-direction: column;
        margin-top: 75px;

          .geo-header {
            display:block;
            font-size:16px;
            width:100%;
            text-align: center;
            margin:0 0 5px;
          }

          .geo-list {
            margin:0;
            display: flex;
            padding: 0;
            justify-content: center;
            width: 100%;
            margin:0 0 5px;

            .geo-location {
              margin: 0 5px;
              padding:2px 10px;
              border-radius:5px;
              font-size:16px;
            }
          }

      }

    .lower-area {
      height: 80%;
      margin-top:75px;

      .filters {
        position:fixed;
        top:0;
        left:0;
        background:white;
        height:100vh;
        width:50vw;
        transform:translate(-50vw);
        transition:0.5s;
        padding:0;
        overflow:auto;

        .cuisine {

          li {
            .food-type,
            .food-type-amount{
              padding: 0;
            }

          }

        }

        .payments-filter {

          .payment-options {

            .payment-type {

              .amex-card-name,
              .discover-card-name,
              .mastercard-card-name,
              .visa-card-name {
                display:inline-block;
              }
            }
          }
        }

        .mobile-header {
          display:flex;
          width:100%;
          height:35px;
          background:$search-blue;
          margin:0;

          .mobile-menu-title {
            display: flex;
            align-items:center;
            color: white;
            font-size: 16px;
            padding-left: 10px;
            font-weight: normal;
          }

          .mobile-menu-close {
            font-size:20px;
            height:100%;
            color:white;
            font-weight:bold;
            cursor:pointer;
            display: flex;
            width:35px;
            align-items:center;
            justify-content:center;
            margin-left:auto;
          }
        }
      }
      .results {
        width:100%;
        display:flex;


        .search-stats {
          margin:10px 20px;

          .search-stats-text {
            border-bottom:none;
            margin-right:0;
            padding-right:0;
          }
        }

        .results-ctg {
          width:100%;
          overflow:visible;
          max-height:none;
        }

        .result {
          margin:10px 0 20px;
          padding:5px;
          align-items:center;

          .result-image-link {
            margin-left:15px;
          }

          .result-image {
            width:70px;
          }

          .result-text {
            font-size:12px;
            text-align:left;
            align-items:baseline;
            justify-content:initial;

            a h4 {
              font-size:14px;
            }

            .stars {
              margin:0;
              background-position-x:0px;
            }
            .rating-number {
              display:none;
            }
            .result-area {
              display:none;
            }

            .review-count {
              display:none;
            }
            .result-city {
              display:inline-block;
            }
            .result-price {
              display:inline-block;
           }
            .result-price-range {
              display:none;
           }

          .result-payment-options {
            display:block;

            .card {
              margin-left:0;
              margin-right:5px;
            }
          }

        }

      }
        .navigate-results {
          margin-top:10px;

          .navigate-results-top {
            margin:0;
            align-items:flex-end;

            .results-range {
              padding-bottom:1px;
            }

            .results-per-page {
              select {
                background:white;
              }
            }
          }

        .pagination {
            font-size:16px;
            bottom:0;
            margin-top:20px;
           }

         }

      }
  }

    .search {
      height:75px;

      .mobile-menu {
        display:flex;
      }
        input {
        width:75%;
        height: 35px;
        font-size:12px;
      }
    }
  }
    @-moz-document url-prefix() {
    .panel {

      .lower-area {

        .filters {
          overflow: auto;
        }
      }
    }
  }
}

@media only screen and (max-width:320px){
  .panel {

    .search {

      .search-clear {
        right:7%;
      }
    }

    .geo-selector {

      .geo-list {

        .geo-location {
          font-size:14px;
        }
      }
    }

    .lower-area {

      .results {

        .navigate-results {

          .pagination {
            font-size:14px;
          }
        }
      }
    }
  }
}
